@media (max-width: 952px) {
  .logo-title {
    font-size: 1.7rem;
  }

  nav ul li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    background: #2c3e50;
    top: 12rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 9999;
  }

  nav ul li {
    margin: 3rem 0;
  }

  nav ul li a {
    font-size: 1.5rem;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }

  .intro-content {
    padding: 2rem;
  }

  .intro-card {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .about-wrapper {
    padding: 2rem;
  }

  .vision-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .vision-content {
    width: 100%;
    border: none;
  }

  .vision-media {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .services-container {
    padding: 2rem;
  }

  .service-card {
    margin: 1.5rem 1rem;
  }

  #brands {
    padding: 2rem;
  }

  .contact-description {
    padding: 2rem;
  }

  .contact-us-wrapper {
    padding: 0;
  }

  .contact-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact {
    padding: 1rem 1rem 3rem;
  }

  .contact .container .content {
    justify-content: center;
  }

  .contact-media {
    display: none;
  }


  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}


@media (max-width: 768px) {
  .ht-timings {
    display: none;
  }

  .testim .dots {
    bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 56.25%;
  }

  .header-top {
    display: none;
  }

  nav ul {
    top: 8rem;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .brands-wrapper {
    margin: 3rem 0;
  }

  .slider {
    height: 14rem;
  }

  .slider::before,
  .slider::after {
    width: 5rem;
  }

  .slide {
    height: 11rem;
    width: 21rem;
  }
}


@media (max-width: 480px) {

  .logo-title {
    font-size: 1.2rem;
  }

  .vision-media img {
    border-bottom: 1rem solid #ff76e3;
  }

  .intro-card-img img {
    width: 32rem;
    height: 42rem;
  }

  .testim .arrow {
    font-size: 4rem;
  }

  .testim .arrow.left {
    left: 1rem;
  }

  .testim .arrow.right {
    right: 1rem;
  }

  .testim .cont div p {
    font-size: 1.6rem;
  }

  .footer .credit {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

/* @media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5em;
  }

  .testim .cont div p {
    line-height: 25px;
  }
} */